<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreparandoFabrica</title>
    <style>

    nav{
        background-color: antiquewhite;
    }
    ul {
        list-style: none;
    
    }
       #menu {
    width:100%;
    padding:20px; 
     
       }

    </style>
</head>
<body>
    <nav class="menu">
            <ul>
                <li><a href="">Perfil</a></li>
                <li><a href="">Time</a></li>
                <li><a href="">Hub de batalha</a></li>
                <li><a href="">loja</a></li>
            </ul>
        </nav>
</body>
</html>